/* цвет основного текста #21212 */
/* вторичный цвет текса #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA*/

/* Общие стили */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --complementary-color: #ffffff;
  --background-complementary-color: #757575;
}

.body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}
/* Logo */

.list {
  list-style: none;
}

.logo {
  color: var(--primary-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth nav */
.auth-nav .link {
  color: var(--title-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link.current {
  color: var(--accent-color);
}

/* Footer */

.footer {
  color: var(--complementary-color);
  background-color: #2f303a;
}

/* Logo */

.footer .logo {
  color: var(--complementary-color);
}

.footer .logo-accent {
  color: var(--accent-color);
}

/* Address */

.address {
  color: var(--complementary-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

/* Social */

/* временный цвет фона */
.socials .link {
  color: var(--complementary-color);
  background-color: var(--background-complementary-color);
}

.socials .link:hover {
  background-color: var(--accent-color);
}

.socials .link.current {
  background-color: var(--accent-color);
}

/* Button */
.button-primary {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}
.rights .text {
  color: rgba(255, 255, 255, 0.4);
}

/* Стили для index.html */

/* Hero */

.hero {
  background-color: #757575;
}

.hero-title {
  color: var(--complementary-color);
}

/* Button */
.button-primary {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}

/* Section */

/* Features */

.future .link {
  color: var(--primary-text-color);
  background-color: var(--background-complementary-color);
}

.future .link:hover {
  color: var(--complementary-color);
  background-color: var(--accent-color.);
}

.future .link.current {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}

/* Profile */
/* временный цвет */
.profile .items {
  background-color: var(--background-complementary-color);
}

.profile .subtitle {
  color: var(--complementary-color);
}

/* Team */

.section-team {
  background-color: #f5f4fa;
}

.team .item {
  background-color: #ffffff;
}

.team .text {
  color: var(--title-text-color);
}

.team .link {
  color: #afb1b8;
}

.team .link:hover,
.team .link:focus {
  color: var(--accent-color);
}

.team .link.current {
  color: var(--accent-color);
}

/* Стили для portfolio.html */

.portfolio {
  color: var(--primary-text-color);
}

.portfolio .nav:hover,
.portfolio .nav:focus {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}

.portfolio .nav.current {
  color: var(--complementary-color);
  background-color: var(--accent-color);
}
